.description {
  text-align: justify;
}

[scope="row"] {
  text-align: center;
}

a:hover {
  color: var(--bs-orange) !important;
}

.profile {
  position: relative;
}

.profile .profile__image img {
  width: 40px;
  height: 40px;
}

.profile .profile__user {
  margin-top: 0.25rem;
  margin-inline-end: calc(6rem - 10px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--bs-body-bg);
  width: 20vw;
  position: fixed;
  right: 0;
  transition: 0.25s;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.12) !important;
  visibility: hidden;
  opacity: 0;
}

.profile.show .profile__user {
  visibility: visible;
  opacity: 1;
}

.profile .profile__user > p {
  margin-bottom: 0;
  padding: 0.25rem;
}

.dropdown__matkul .dropdown__matkul-header i {
  transition: 0.5s;
}

.dropdown__matkul-header {
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: 0.35rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.dropdown__matkul-header:hover {
  background-color: rgb(170, 207, 240) !important;
}

.dropdown__matkul.open .dropdown__matkul-header i {
  transform: rotate(-180deg);
}

.dropdown__matkul .dropdown__matkul-body {
  /* display: none; */
  height: 0;
  transition: all 0.25s ease;
  transform: rotateX(-90deg);
  transform-origin: 0 0 0;
  overflow: hidden;
  visibility: hidden;
}

.dropdown__matkul.open .dropdown__matkul-body {
  /* display: block; */
  height: 100%;
  transform: rotateX(0);
  visibility: visible;
}

.dropdown__matkul .dropdown__matkul-body ul li {
  margin-block: 0.5rem;
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: 0.35rem;
  padding: 0.5rem;
}

.dropdown__matkul .dropdown__matkul-body ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
